@import '../_colors.pcss';

:root {
  --pokedex-background: #2c3e50;
}

.pokedex {
  background-color: color(var(--pokedex-background) w(5%));
  box-shadow: 0 0 32px color(var(--pokedex-background) l(15%));
  height: 90%;
  left: 5%;
  overflow: hidden;
  position: absolute;
  top: 5%;
  width: 90%;
}

.content {
  margin: 0;
  padding: 0;
}
