@import '../_colors.pcss';

:root {
  --pokedex-background: #2c3e50;
}

.pokedex {
  background-color: color(var(--pokedex-background) w(5%));
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.content {
  margin: 0;
  padding: 0;
}
